---
interface Props {
  project: {
    name: string;
    repo: string;
    description: string;
    technologies: string[];
  };
}
import github from '/icons/github-loop.svg';
import githubLight from '/icons/github-loop-light.svg';
import Heading from './Heading.astro';
const { name, repo, description, technologies } = Astro.props.project;
---

<article
  class="flex flex-col gap-4 p-4 max-w-sm rounded-lg transition-transform duration-300 hover:ease-in-out hover:-translate-y-4 hover:scale-105 bg-dark dark:bg-light text-light dark:text-black"
>
  <Heading title={name} size="h3" />
  <p class="">{description}</p>
  <a href={repo}
    ><img src={githubLight} alt="github" class="w-4 hidden dark:flex" />
    <img src={github} alt="github" class="w-4 dark:hidden" /></a
  >
  <div class="flex flex-wrap gap-1 justify-center">
    {
      technologies.map((tech) => (
        <div class="bg-light-primary dark:bg-secondary text-light w-fit px-2 py-1 rounded-full">
          {tech}
        </div>
      ))
    }
  </div>
</article>
