---
import logo from '/logos/logoRED.svg';
import logoLight from '/logos/logoBLUE.svg';
import github from '/icons/github-loop.svg';
import githubLight from '/icons/github-loop-light.svg';
import Navigation from '../components/Navigation.astro';
import DarkModeToggle from '../components/DarkModeToggle';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logos/logoRED.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      if (
        localStorage.theme === 'dark' ||
        (!('theme' in localStorage) &&
          window.matchMedia('(prefers-color-scheme: dark)').matches)
      ) {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class="dark:bg-dark dark:text-light grid justify-center m-3">
    <div class="inline-flex items-center">
      <a
        class="flex items-center gap-2 mt-3 cursor-pointer hover:ease-in-out duration-300 hover:scale-125"
        href="/"
      >
        <div>
          <img src={logo} alt="logo" class="w-12 hidden dark:flex" />
          <img src={logoLight} alt="logo" class="w-12 dark:hidden" />
        </div>
        <div>
          <h1 class="text-2xl font-bold">AlexHM</h1>
        </div>
      </a>
      <span class="flex-1"></span>
      <DarkModeToggle client:load />
      <a
        class="inline-flex items-center font-bold cursor-pointer ml-2"
        href="https://www.github.com/peckas13"
        target="_blank"
      >
        <img src={githubLight} alt="github" class="w-12 dark:hidden" />
        <img src={github} alt="github" class="w-12 hidden dark:flex" />
        <p class="hidden sm:flex">peckas13</p>
      </a>
    </div>
    <div class="flex items-center text-light-primary dark:text-primary">
      <Navigation />
    </div>
    <slot />
  </body>
</html>
